:root {
  --jigarrang: #ff7500;
  --qora: #252420;
  --orange: orange;
}

@font-face {
  font-family: "Roboto Condensed";
  src: url("../fonts/RobotoCondensed-Bold.woff2") format("woff2"),
    url("../fonts/RobotoCondensed-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto Condensed";
  src: url("../fonts/RobotoCondensed-Medium.woff2") format("woff2"),
    url("../fonts/RobotoCondensed-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto Condensed";
  src: url("../fonts/RobotoCondensed-Regular.woff2") format("woff2"),
    url("../fonts/RobotoCondensed-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  padding: 0%;
  margin: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: var(--qora);
}

/* body */
body {
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.5px;
  font-family: "Roboto Condensed";
}

.container {
  max-width: 100%;
  width: 1140px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

/* button */
.orange-button {
  display: inline-block;
  background-color: var(--jigarrang);
  color: white;
  text-decoration: none;
  padding: 12px 24px;
  border-radius: 4px;
}

/* header */
.header {
  padding-bottom: 16px;
  padding-top: 16px;
}
.botton-line {
  margin-bottom: 20px;
  width: 75px;
  height: 5px;
  background-color: var(--orange);
}
.top-line {
  width: 100%;
  height: 5px;
  background-color: var(--orange);
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav {
  display: flex;
  align-items: center;
  gap: 20px;
}
.header-links-wrapper {
  display: flex;
  align-items: center;
  gap: 32px;
}

.header-links {
  display: flex;
  align-items: center;
  gap: 32px;
}
.header-links a:hover {
  color: var(--jigarrang);
}

/* Mene toggle */

.slide {
  position: absolute;
  top: -107px;
  border-radius: 5px;
  right: 5px;
  width: 90%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  transition: 0.5s ease;
}

.menu {
  display: none;
  position: relative;
  height: 30px;
  width: 30px;
  background-color: white;
  border-radius: 3px;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.menu .common {
  position: absolute;
  width: 20px;
  height: 2px;
  background-color: var(--qora);
  border-radius: 50px;
  transition: 0.5s ease;
}

.menu .top_line {
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.menu .middle_line {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.menu .bottom_line {
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
}

input:checked ~ .menu .top_line {
  left: 5px;
  top: 14px;
  transform: rotate(45deg);
}

input:checked ~ .menu .bottom_line {
  left: 5px;
  top: 14px;
  transform: rotate(-45deg);
}

input:checked ~ .menu .middle_line {
  opacity: 0;
  transform: translateX(20px);
}

input:checked ~ .slide {
  top: 107px;
}

.slide-links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.input_checkbox {
  display: none;
  visibility: hidden;
}

/* HERO */
.hero {
  background-color: var(--qora);
  color: white;
  padding: 80px 20px;
}
.hero-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.hero-content {
  max-width: 387px;
  width: 100%;
}
.hero-img {
  width: 510;
  height: 510;
  border-radius: 8px;
  position: absolute;
  right: 10px;
  top: -40px;
}

.hero-title {
  position: relative;
  font-size: 40px;
  margin-bottom: 22px;
  letter-spacing: 0.5px;
  line-height: 122%;
  font-family: "Roboto", "Arial", sans-serif;
}

.hero-text {
  margin-bottom: 32px;
}

/* WHY */

.why {
  padding-bottom: 440px;
  padding-top: 240px;
}

.why-title {
  margin-top: 72px;
  line-height: 120%;
  letter-spacing: 0.5px;
  font-size: 72px;
  margin-bottom: 50px;
}

/* Circle */
.circle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  background-color: rgba(255, 117, 0, 20%);
  margin-bottom: 32px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.card-title {
  font-family: "Roboto Condenced", "Arial", sans-serif;
  margin-bottom: 12px;
  font-size: 24px;
  line-height: 120%;
}
.cards {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 32px;
  justify-content: space-between;
}
.card {
  max-width: 340px;
  width: 100%;
}

/* CTA */

.cta {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--qora);
  border-radius: 10px;
  color: white;
  padding: 64px;
  margin-bottom: 40px;
}

.cta-title {
  font-family: "Roboto Condenced", "Arial", sans-serif;
  font-size: 40px;
  line-height: 120%;
  letter-spacing: 0.5px;
  margin-bottom: 24px;
}
.CTA-content {
  max-width: 440px;
  width: 100%;
}

.cta-text {
  margin-top: 12px;
  margin-bottom: 24px;
}

.orange-text {
  color: var(--jigarrang);
}

.cta-img {
  position: absolute;
  top: -85px;
  right: 64px;
  width: 440px;
  height: 440px;
  border-radius: 12px;
}

/* Footer */

.footer {
  background-color: #f8f8f8;
  padding-bottom: 56px;
  padding-top: 56px;
}
.footer-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 40px;
}
.socials {
  display: flex;
  gap: 16px;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  padding: 64px;
  flex-wrap: wrap;
  gap: 40px;
}

.footer-link {
  color: var(--qora);
}
.footer-links {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.header-link {
  color: var(--qora);
}
.footer-links a:hover {
  color: var(--jigarrang);
}
/* RESPONSIVE */
@media (max-width: 1024px) {
  .logo-akademik {
    width: 180px;
  }
  .header-links-wrapper {
    gap: 20px;
  }
  .header-links {
    gap: 20px;
  }
  .orange-button {
    padding: 10px 20px;
  }
  .hero-container {
    flex-direction: column;
  }
  .hero-img {
    width: 600px;
    height: 400px;
    position: relative;
    margin-top: 80px;
    object-fit: cover;
  }
  .hero-content {
    max-width: 650px;
  }
  .why {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .cta {
    flex-direction: column;
  }
  .cta-img {
    position: relative;
    margin-top: 150px;
  }

  .CTA-content {
    max-width: 100%;
  }
}

@media (max-width: 768px) {
  .menu {
    display: block;
    width: 30px;
    height: 30px;
  }
  .header-links {
    display: none;
  }
  .why-title {
    font-size: 52px;
    text-align: center;
  }
  .cards {
    align-items: center;
    justify-content: center;
  }
  .card {
    text-align: center;
  }
  .circle {
    margin: 0 auto;
    margin-bottom: 24px;
  }
}

@media (max-width: 576px) {
  .button {
    display: none;
  }
  .hero-img {
    width: 90%;
    height: 400px;
  }
  .hero-title {
    font-size: 30px;
  }
  .why-title {
    font-size: 40px;
  }
  .why {
    padding-bottom: 40px;
  }
  .cta-img {
    width: 300px;
    margin-left: 140px;
  }
  .cta-title {
    font-size: 20px;
  }
  .cta-text {
    font-size: 15px;
  }
  .footer-top {
    flex-direction: column;
    gap: 40px;
  }
  .footer-links {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid black;
    padding-bottom: 20px;
  }
  .footer-bottom {
    align-items: center;
    justify-content: center;
  }
}
